@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');
.bg-light
{
    background-color:hsl(187, 84%, 34.3%)!important
}

h1
{
    font-family: 'Roboto', sans-serif;
}

body
{
    font-family: 'Lato', sans-serif;
}
nav img
{
    width: 10%;
    height: auto;
}